/* Popup container - can be anything you want */

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

div {
  margin: 5px;
}

h1 {
  font-weight: 800;
  border-bottom: 3px solid #376991;
  padding-bottom: 5px;
}

h3 {
  font-weight: 600;
}

details {
  border-right: 3px solid #999999;
}

summary {
  background-color: #c9c9c9;
  padding: 5px;
}

details,
summary {
  border-radius: 5px;
}

details {
  margin: 10px 10px 10px 15px;
}

ul {
  padding: 0px 0px 0px 20px;
}

td {
  outline: 1px solid black;
  padding: 0px 50px 0px 0px;
  word-wrap: break-word;
}

table {
  border: 2px solid #376991;
  border-radius: 5px;
  background-color: rgba(238, 236, 236, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  table-layout: fixed;
  width: 300px;
}

input[type="checkbox"]:checked {
  accent-color: #376991;
}

.tooltip {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  padding: 4px 10px;
  border: 1px solid silver;
  color: #222;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
  z-index: 10;
  /* text-align: center; */
}

.geofeat path:hover {
  fill: #5a84c3;
}

.hidden {
  display: none;
}

.scrollable {
  overflow-y: auto;
}

#viz_area {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  /* background-color: #62897b; */
}

#tables_and_summary_figs {
  overflow-y: auto;
  flex: 1;
  height: auto;
  border: 1px solid black;
  /* background-color: #d7951a; */
}

#control_panel_and_map {
  flex: 3;
  /* background-color: violet; */
  width: auto;
  height: auto;
  position: relative;
}

#control_panel {
  /* background-color: #5a84c3; */
  width: 250px;
  z-index: 3;
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #dadadae5;
}

#svg-map {
  /* background-color: #fcdb03; */
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

#states {
  stroke: #c6c6c6;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#wsheds {
  stroke: #8f9797;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#institute {
  fill: #70a46e;
  stroke: #222;
}

#streams {
  stroke: #376991;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#samples {
  fill: #a6a6a6;
  stroke: #000000;
  stroke-width: 0.075%;
}

#ngrrec {
  fill: #fcdb03;
  stroke: #000000;
}
